.form__line {
    display: flex;
    margin-bottom: 15px;
}

.form__field {
    margin: 5px;
}

.form__field:first-child {
    margin: 0 10px 0 0;
}

.form__field:last-child {
    margin: 0 0 0 10px;
}

.form__label {
    font-family: "SFDisplay-Light", sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #A8ACB9;
    width: 100%;
    margin-left: 15px;
    margin-bottom: 15px;
}

.form__input,
.form__textarea {
    font-family: "SFDisplay-Light", sans-serif;
    font-size: 16px;
    line-height: 21px;
    width: 100%;
    color: #2290FF;
    background-color: #F9FBFF;
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
    height: 58px;
}

.form__input:focus {
    outline: none;
}

.form__textarea {
    border-radius: 10px;
    resize: none;
    height: 72px;
}

.form__textarea:focus {
    outline: none;
}

.aboutForm {
    max-width: 500px;
}

.aboutForm__submit {
    margin-top: 20px;
}

@media (max-width: 1410px) {
    .aboutForm {
        width: 100%;
        max-width: 640px;
        padding: 0;
        margin: auto;
    }
}

@media (max-width: 850px) {
    .form__line {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .form__field:first-child,
    .form__field:last-child {
        width: 100%;
        margin: auto;
    }
}