.hamburgerMobile {
    display: none;
    flex-wrap: wrap;
    position: relative;
    width: 26px;
    transition: 0.25s;
}

.hamburgerMobile span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    opacity: 1;
    height: 2px;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.hamburgerMobile span:nth-child(1) {
    top: 0;
}

.hamburgerMobile span:nth-child(2) {
    top: 8px;
}

.hamburgerMobile span:nth-child(3) {
    top: 16px;
}

.hamburgerMobile.open span:nth-child(1) {
    top: 8px;
    transform: rotate(135deg);
}

.hamburgerMobile.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.hamburgerMobile.open span:nth-child(3) {
    top: 8px;
    transform: rotate(-135deg);
}

@media (max-width: 900px) {
    .hamburgerMobile {
        display: flex;
    }
}