.layout {
    display: flex;
    width: 100%;
    height: 100vh;
    max-width: 2560px;
    margin: 0 auto;
}

.content {
    width: 100%;
    height: 100vh;
    max-width: calc(100% - 240px);
    overflow-y: auto;
}

@media (max-width: 900px) {
    .content {
        max-width: 100%;
    }
}