.section {
    margin: 0 auto 100px;
    max-width: 1400px;
}

.section:first-child {
    max-width: 100%;
}

@media (max-width: 1550px) {
    .section {
        margin: 0 30px 100px;
    }

    .section:first-child {
        margin: 0 auto 100px;
    }
}